<a href="https://colab.research.google.com/github/ducatyb/data/blob/main/kaplan_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!ls -l

total 40
drwxr-xr-x 1 root root  4096 Aug 31 13:47  sample_data
-rw-r--r-- 1 root root 34170 Sep  1 17:31 'timetable 30.08.22.xlsx'

In [5]:
import pandas as pd

In [9]:
df = pd.read_excel('timetable 30.08.22.xlsx', skiprows=4)
df

,Student ID,Student Forename,Student Surname,Class Name,Room,Time
0,6304526,Abdulaziz F KH GH SH,Aldhafeeri,F2F ELEMENTARY E,4,2:30pm - 5:45pm
1,6304901,Abdulkareem Rumian A,Alrumian,F2F ADVANCED 2,12,8:15am - 11:30am
2,6303345,Abdullah Jamaan S,Binhajib,F2F EL (B) SPEAKING & PRON (LI/INT),10,1:05pm-2:20pm
3,6303345,Abdullah Jamaan S,Binhajib,F2F INTERMEDIATE B,5,8:15am-11:30am
4,6300587,Abdullatif,Arslan,F2F INTERMEDIATE F,10,2:30pm - 5:45pm
...,...,...,...,...,...,...
504,6304784,Yun,Liang,F2F LOWER INTERMEDIATE F,14,2:30pm - 5:45pm
505,6305217,Yusuf Eren,Celik,F2F INTERMEDIATE A,4,8:15am-11:30am
506,6301049,Zeynep,Tore,F2F ELEMENTARY E,4,2:30pm - 5:45pm
507,6302773,Zeynep Sude,Kaya,F2F EL (A) SPEAKING & WRITING (ELEM/LI),13,11:45am-1pm
508,6302773,Zeynep Sude,Kaya,F2F LOWER INTERMEDIATE D,9,8:15am-11:30am

In [19]:
from google.colab import data_table

In [20]:
data_table.enable_dataframe_formatter()

In [22]:
df_classes = df[['Class Name', 'Room', 'Time']].drop_duplicates()
df_classes

,Class Name,Room,Time
0,F2F ELEMENTARY E,4,2:30pm - 5:45pm
1,F2F ADVANCED 2,12,8:15am - 11:30am
2,F2F EL (B) SPEAKING & PRON (LI/INT),10,1:05pm-2:20pm
3,F2F INTERMEDIATE B,5,8:15am-11:30am
4,F2F INTERMEDIATE F,10,2:30pm - 5:45pm
5,F2F EL (B) SPEAKING AND VOCABULARY (ELEM/LI),1,1:05pm-2:20pm
8,F2F LOWER INT A (30+),15a,8:15am-11:30am
9,F2F INTERMEDIATE 2,1,8:15am - 11:30am
11,F2F LOWER INTERMEDIATE E,12,2:30pm - 5:45pm
12,F2F INTERMEDIATE A,4,8:15am-11:30am
13,F2F LOWER INTERMEDIATE F,14,2:30pm - 5:45pm
14,F2F HIGHER INTERMEDIATE A,7,8:15am-11:30am
15,F2F Beginners F,15a,2:30pm - 5:45pm
16,F2F HIGHER INTERMEDIATE C,London Room,8:15am - 11:30
17,F2F EL (A) READING & SPEAKING (LI/INT),10,11:45am-1pm
18,F2F LOWER INTERMEDIATE D,9,8:15am-11:30am
19,F2F EL (B) LISTENING & SPEAKING (LI/INT),6,1:05pm-2:20pm
20,F2F HIGHER INTERMEDIATE E,5,2:30pm - 5:45pm
21,F2F INTERMEDIATE E,1,2:30pm - 5:45pm
23,F2F INTERMEDIATE D,15b,8:15am-11:30am
24,F2F INTERMEDIATE C (30+),14,8:15am-11:30am
25,F2F INTERMEDIATE G,13,2:30pm - 5:45pm
26,F2F EL (A) LISTENING_PRON (INT/HI),15a,11:45am-1pm
27,F2F HIGHER INTERMEDIATE G,2,2:30pm - 5:45pm
31,F2F EL (A) SPEAKING & WRITING (ELEM/LI),13,11:45am-1pm
32,F2F LOWER INTERMEDIATE B,6,8:15am-11:30am
35,F2F EL (B) WRITING & VOCABULARY (LI/INT),15b,1:05pm-2:20pm
38,F2F EL (B) IELTS (INT+),8,1:05pm-2:20pm
44,F2F EL (A) 30+ MID SKILLS (INT/HI),7,11:45am-1pm
45,F2F HIGHER INTERMEDIATE D (30+),13,8:15am-11:30am
53,F2F EL (A) SKILLS HIGH 2 (ADV/PROF),2,11:45am-1pm
61,F2F EL (B) SKILLS 1 (BEG/ELEM),7,1:05pm-2:20pm
70,F2F IELTS D,8,8:15am-11:30am
72,F2F ELEMENTARY/LOWER INT E,8,2:30pm - 5:45pm
73,F2F EL (B) SKILLS MID (INT/HI),14,1:05pm-2:20pm
80,F2F ADVANCED C,10,8:15am-11:30am
81,F2F EL (A) WRITING AND SPEAKING (INT/HI),12,11:45am-1pm
84,F2F EL (A) BUSINESS 2,9,11:45am - 1pm
87,F2F EL (A) SKILLS MID 4 (LI/INT),1,11:45am-1pm
102,F2F ADVANCED/PROF D,2,8:15am-11:30am
106,F2F EL (A) SKILLS HIGH (HI/ADV),5,11:45am-1pm
109,F2F BUSINESS D_MAIN (HI/ADV),11,8:15am-11:30am
124,F2F ELEMENTARY F (30+),15b,2:30pm - 5:45pm
140,F2F IELTS F,11,2:30pm - 5:45pm
164,F2F HIGHER INTERMEDIATE F,7,2:30pm - 5:45pm
177,F2F EL (B) IELTS 2 (INT+),11,1:05pm-2:20pm

In [23]:
df_classes[df['Time'].str.startswith('8:15')]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                          Class Name         Room              Time
1                     F2F ADVANCED 2           12  8:15am - 11:30am
3                 F2F INTERMEDIATE B            5    8:15am-11:30am
8              F2F LOWER INT A (30+)          15a    8:15am-11:30am
9                 F2F INTERMEDIATE 2            1  8:15am - 11:30am
12                F2F INTERMEDIATE A            4    8:15am-11:30am
14         F2F HIGHER INTERMEDIATE A            7    8:15am-11:30am
16         F2F HIGHER INTERMEDIATE C  London Room    8:15am - 11:30
18          F2F LOWER INTERMEDIATE D            9    8:15am-11:30am
23                F2F INTERMEDIATE D          15b    8:15am-11:30am
24          F2F INTERMEDIATE C (30+)           14    8:15am-11:30am
32          F2F LOWER INTERMEDIATE B            6    8:15am-11:30am
45   F2F HIGHER INTERMEDIATE D (30+)           13    8:15am-11:30am
70                       F2F IELTS D            8    8:15am-11:30am
80                    F2F ADVANCED C           10    8:15am-11:30am
102              F2F ADVANCED/PROF D            2    8:15am-11:30am
109    F2F BUSINESS D_MAIN  (HI/ADV)           11    8:15am-11:30am

In [27]:
df_classes[df['Time'].str.startswith('11:45')]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                                   Class Name Room           Time
17     F2F EL (A) READING & SPEAKING (LI/INT)   10    11:45am-1pm
26        F2F EL (A) LISTENING_PRON  (INT/HI)  15a    11:45am-1pm
31   F2F EL (A) SPEAKING & WRITING  (ELEM/LI)   13    11:45am-1pm
44         F2F EL (A) 30+ MID SKILLS (INT/HI)    7    11:45am-1pm
53        F2F EL (A) SKILLS HIGH 2 (ADV/PROF)    2    11:45am-1pm
81   F2F EL (A) WRITING AND SPEAKING (INT/HI)   12    11:45am-1pm
84                      F2F EL (A) BUSINESS 2    9  11:45am - 1pm
87           F2F EL (A) SKILLS MID 4 (LI/INT)    1    11:45am-1pm
106           F2F EL (A) SKILLS HIGH (HI/ADV)    5    11:45am-1pm

In [28]:
df_classes[df['Time'].str.startswith('1:05')]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                                       Class Name Room           Time
2             F2F EL (B) SPEAKING & PRON (LI/INT)   10  1:05pm-2:20pm
5    F2F EL (B) SPEAKING AND VOCABULARY (ELEM/LI)    1  1:05pm-2:20pm
19       F2F EL (B) LISTENING & SPEAKING (LI/INT)    6  1:05pm-2:20pm
35       F2F EL (B) WRITING & VOCABULARY (LI/INT)  15b  1:05pm-2:20pm
38                        F2F EL (B) IELTS (INT+)    8  1:05pm-2:20pm
61                 F2F EL (B) SKILLS 1 (BEG/ELEM)    7  1:05pm-2:20pm
73                 F2F EL (B) SKILLS MID (INT/HI)   14  1:05pm-2:20pm
177                     F2F EL (B) IELTS 2 (INT+)   11  1:05pm-2:20pm

In [29]:
df_classes[df['Time'].str.startswith('2:30')]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                     Class Name Room             Time
0              F2F ELEMENTARY E    4  2:30pm - 5:45pm
4            F2F INTERMEDIATE F   10  2:30pm - 5:45pm
11     F2F LOWER INTERMEDIATE E   12  2:30pm - 5:45pm
13     F2F LOWER INTERMEDIATE F   14  2:30pm - 5:45pm
15              F2F Beginners F  15a  2:30pm - 5:45pm
20    F2F HIGHER INTERMEDIATE E    5  2:30pm - 5:45pm
21           F2F INTERMEDIATE E    1  2:30pm - 5:45pm
25           F2F INTERMEDIATE G   13  2:30pm - 5:45pm
27    F2F HIGHER INTERMEDIATE G    2  2:30pm - 5:45pm
72   F2F ELEMENTARY/LOWER INT E    8  2:30pm - 5:45pm
124      F2F ELEMENTARY F (30+)  15b  2:30pm - 5:45pm
140                 F2F IELTS F   11  2:30pm - 5:45pm
164   F2F HIGHER INTERMEDIATE F    7  2:30pm - 5:45pm

In [25]:
df_classes[df['Class Name'].str.contains('IELTS')]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                    Class Name Room             Time
38     F2F EL (B) IELTS (INT+)    8    1:05pm-2:20pm
70                 F2F IELTS D    8   8:15am-11:30am
140                F2F IELTS F   11  2:30pm - 5:45pm
177  F2F EL (B) IELTS 2 (INT+)   11    1:05pm-2:20pm